<header class="header-container">
  <div class="header">
    <div class="head-item">
      <app-icon
        [color]="iconColor"
        [bg]="iconBG"
        rounded="full"
        bgSize="40px"
        icon="assets/icons/bars.svg"
        size="30px"
        (click)="menuCtrl()"
      ></app-icon>
      <div class="title">{{ title }}</div>
      <ng-content></ng-content>
    </div>
  </div>
  <ng-content select="[center]"></ng-content>
  <div class="right">
    <ng-content select="[right]"></ng-content>
  </div>
</header>
