<div class="modal-overlay" (click)="closeModal()" *ngIf="showModal"></div>
<div
  class="modal-container"
  [@slideInFromBottom]
  (click)="stopPropagation($event)"
  *ngIf="showModal"
>
  <div class="modal-header">
    <span class="modal-title">{{ title }}</span>
    <app-icon
      size="17.5px"
      [bg]="iconBg"
      bgSize="40px"
      [color]="iconColor"
      rounded="full"
      icon="assets/icons/cross.svg"
      (click)="closeModal()"
    ></app-icon>
  </div>
  <div class="modal-content">
    <div class="content"><ng-content></ng-content></div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content> <!--  No default action button for more fexibility -->
    </div>
  </div>
</div>
