//theme color taken from figma
$theme-primary: #1c4980;
$theme-secondary: #0073e6;
$theme-secondary-5: #f2f8fe;
$theme-red: #d63500;
$theme-black: #000000;
$theme-white: #ffffff;
$theme-success: #05c165;
$theme-purple: #6548ee;
$theme-background: #f6f8fa;
$theme-border: #dadce0;
$theme-accent: #ddedff;

$text-50-percent: #8da4bf;
$system-divider: #dde5ea;

$accent-red: #fbebea;
$accent-purple: #ebe8fd;

//device breakpoints for responsive design
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
