//theme color taken from figma
$theme-primary: #1c4980;
$theme-secondary: #0073e6;
$theme-secondary-5: #f2f8fe;
$theme-red: #d63500;
$theme-black: #000000;
$theme-white: #ffffff;
$theme-success: #05c165;
$theme-purple: #6548ee;
$theme-blue: #3079e1;
$theme-pink: #e9407a;
$theme-background: #f6f8fa;
$theme-border: #dadce0;

$text-50-percent: #8da4bf;
$system-divider: #dde5ea;
$system-stroke: #BACBD5;

$theme-accent: #ddedff;
$accent-red: #fbebea;
$accent-purple: #ebe8fd;
$accent-pink: #fce8ef;
$accent-secondary: #e5f1fc;

//device breakpoints for responsive design
$mobile-width: 600px;
$tablet-width: 900px;
$desktop-width: 1240px;
