$theme-primary: #1C4980;
$theme-secondary: #0073E6;
$theme-accent: #DDEDFF;
$theme-system: #DADCE0;
$text-50-percent: #8DA4BF;
$system-divider: #DDE5EA;
$theme-white: #FFFFFF;
$theme-background: #f6f8fa;
