<div class="sidebar-container">
  <div class="sidebar-wrapper" [ngClass]="showSidebar() ? '' : 'hidden'">
    <div class="sidebar-nav">
      <div class="nav-header">
        <div class="header">
          <span>Menu</span>
          <app-icon
            size="14px"
            [color]="iconColor"
            bgSize="24px"
            icon="assets/icons/cross.svg"
            (click)="toggleSidebar()"
          ></app-icon>
        </div>
      </div>
      <nav
        *ngFor="let navGroup of navGroups"
        class="nav"
        [ngClass]="[
          navGroup.notification ? 'notify' : '',
          navGroup.break ? 'breaker' : ''
        ]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="navGroup.link"
        (click)="toggleSidebar()"
      >
        <span class="admin-badge" *ngIf="navGroup.auth">admin</span>
        <app-icon
          size="15px"
          bgSize="20px"
          [icon]="navGroup.icon"
          [color]="
            isactive() == '/' + navGroup.link ? iconColorActive : iconColor
          "
        ></app-icon>

        <div class="nav-title-box">
          <div class="nav-title">
            <span>{{ navGroup.title }}</span>
          </div>
        </div>
        <div class="separator"></div>
      </nav>
    </div>
  </div>
  <div
    class="remove"
    [ngClass]="showSidebar() ? 'fixed-shadow' : ''"
    (click)="toggleSidebar()"
  ></div>
  <div class="content-wrapper">
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
