/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}
body {
  background-color: #f6f8fa;
  font-family: 'Inter', sans-serif;
}