<main class="page-container">
  <div class="dashboard-content">
    <section class="section-container">
      <div class="content">
        <span class="header">Purpose of this project</span>
        <P>
          " I am delighted to submit the finished project for the Frontend Team
          Leader role at Unstop. This project is built using the latest Angular
          framework."
        </P>
        <P>
          To explore the project which follows given Figma guidelines, please
          visit the
          <a routerLink="/assessment">Assessment</a> page.
        </P>
        <P>
          For an in-depth look at the components I created, visit the
          <a routerLink="/my-library">Library</a> page. I've detailed how each
          component integrates into the project.
        </P>
      </div>
    </section>
    <section class="section-container">
      <div class="content">
        <span class="header">Hi, I'm Deepak Mohanty :)</span>
        <P>
          I bring 2 year of experience in frontend development, during which I
          have successfully collaborated on diverse projects that required a
          blend of creativity and technical expertise. Explore more about me in
          my
          <a href="https://deepverse.netlify.app/" target="_blank"> portfolio</a
          >.
        </P>
        <p>
          My technical proficiency spans HTML5, CSS3, JavaScript, and popular
          libraries/frameworks like
          <a
            href="https://deepverse.netlify.app/about/skills/1"
            target="_blank"
            class="react"
            >React</a
          >,
          <a href="https://deepverse.netlify.app/about/skills/2" target="_blank"
            >Next.js</a
          >
          and especially in -
          <a
            href="https://deepverse.netlify.app/about/skills/0"
            target="_blank"
            class="angular"
            >Angular</a
          >. I have a demonstrated ability to architect scalable and
          maintainable solutions, ensuring that projects meet both functional
          and performance requirements. Additionally, I am well-versed in Figma
          for UI/UX design.
        </p>
      </div>
    </section>
    <section class="section-container">
      <div class="content">
        <P>
          I am eager to contribute my skills and be a valuable part of the team.
        </P>
        <p>Best regards,</p>
        <p>Deepak mohanty</p>
        <a href="mailto:deepak.contact.info@gmail.com">{{
          "deepak.contact.info@gmail.com"
        }}</a>
        <a href="tel:9499652294">9499652294</a>
      </div>
    </section>
  </div>
</main>
